<section data-fls-iteminfo class="iteminfo">
	
		<div class="item__info info-item">

			<div class="info-item__body">
				<div class="info-item__icon --icon-clock"></div>
		
				<div class="info-item__content">
					<div class="info-item__value">Графік роботи:</div>
					<div class="info-item__text">Пн-Пт з 8:00 до 18:00</div>
				</div>
			</div>
		
			<div class="info-item__body">
				<div class="info-item__icon --icon-telephone"></div>
		
				<div class="info-item__content">
					<div class="info-item__value">Колл-центр КНП:</div>
					<a href="tel:+380505554103" class="info-item__text">
						+38 (050) 555-41-03
					</a>
				</div>
			</div>
		
		</div>
	
</section>