<section data-fls-serviceblock class="serviceblock">
	<div class="serviceblock__container">
		<div class="serviceblock__items ">
			<div class="item-serviceblock">
			
				<h3 class="item-serviceblock__title">Консультації та лікування:</h3>
			<p class="item-serviceblock__text"> Діагностика та лікування найпоширеніших хвороб,
				 травм,  отруєнь; ведення хронічних хворих.</p>
				<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
				</div>
			
					
					
					<div class="item-serviceblock">
			
						<h3 class="item-serviceblock__title">Діагностика:</h3>
					<p class="item-serviceblock__text"> Спостереження за станом здоров’я пацієнтів із використанням фізикальних,  лабораторних та інструментальних досліджень відповідно до галузевих стандартів у сфері  охорони здоров’я.</p>
						<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
					</div>
					<div class="item-serviceblock">
			
						<h3 class="item-serviceblock__title">Лабораторні дослідження:</h3>
					<p class="item-serviceblock__text"> Загальний аналіз крові з лейкоцитарною формулою, загальний  аналіз сечі, глюкоза крові, холестерин.</p>
						<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
					</div>
					<div class="item-serviceblock">
			
						<h3 class="item-serviceblock__title">Профілактика та щеплення:</h3>
					<p class="item-serviceblock__text"> Вакцинація згідно з календарем щеплень, профілактичні огляди,  швидкі тести на вагітність, ВІЛ, вірусні гепатити, тропоніни.</p>
						<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
					</div>
					
					<div class="item-serviceblocks">
			
						<h3 class="item-serviceblock__title">Документація:</h3>
					<p class="item-serviceblock__text"> Направлення до лікарів вторинної/третинної ланки (вузьких спеціалістів),  видача довідок, листків непрацездатності (лікарняних),
						 рецептів, зокрема за програмою  <a href="https://eliky.in.ua/hospital/1159" target="_blank" class="item-services__text_link">«Доступні ліки»</a>.</p>
						 <!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
					</div>
					
					<div class="item-serviceblock">
			
						<h3 class="item-serviceblock__title">Спостереження::</h3>
					<p class="item-serviceblock__text"> Спостереження вагітних та дітей до 3-х років, паліативна допомога на  дому.</p>
					<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
					</div>
					
							</div>
	</div>
</section>