.serviceblock {

   // .serviceblock__container

   &__container {
   }

   // .serviceblock__items

   &__items {
       
      display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 30px;
   height: 100%;
   grid-auto-rows: 1fr;
   transition: 0.5s;
  
   }
}
.item-serviceblock {
  // display: flex;
	flex-direction: column;
	height: 100%;
   //display: flex;
  // flex: 0 1 calc(33.333% - 30px);
   background-color: $mainColorHead;
   padding: 20px ;
   border-radius: 30px;
  // max-width: 475px;
   font-size: 18px;
   font-weight: 500;
   line-height: 1.2;
   box-shadow: 0 5px 15px $mainColorBlock;
   transition:all 0.5s;
  
  // height: 100%;
   // .item-serviceblock__title
   
   &__title {
   }

   // .item-serviceblock__text

   &__text {
   }
   @media (any-hover: hover) {
      &:hover{
        // color: $mainBgColorMenu;
      background-color:  $mainBgColor;
       box-shadow: 5px 5px 15px $mainColorBlock;;
      
   }
}
}
.item-serviceblocks {
}
.item-services {

   // .item-services__text

   &__text {

      // .item-services__text_link

      &_link {
      }
   }
}
