
<header data-fls-header data-fls-header-scroll="10" data-fls-header-scroll-show="1000" class="header scrolled">
	<div class="header__container">
		<div class="header__body">
			<if condition="'[[home]]' === 'true'">
				<img class="header__logo" src="@img/logo.png" alt="Logo">
			</if>
			<else>
				<a href="index.html" class="header__link-logo">
					<img class="header__logo" src="@img/logo.png" alt="Logo">
				</a>
			</else>
			<include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
			<a href="https://helsi.me/clinic/f25f8d7c-b732-45ff-9c30-59aa08f5edc5?level=1" target="_
			" 
			data-fls-button class="header__button button button--dt">Запис до лікаря</a>
			<button type="button"  data-fls-menu class="icon-menu"><span></span></button>
		</div>
	</div>
</header>