
<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">
	
<div data-fls-home data-fls-blockhead class="home">
	<section class="page__hero hero">
		<div class="hero__image">
			<img class="hero__bg" src="@img/home/home1.jpg" alt="">
		</div>
	<div class="hero__container">
		
<h1 class="blockhead__title blockhead__title--size-54">Комунальне некомерційне підприємство "Великоберезнянський  центр первинної
	<br>медико-санітарної допомоги"<br> <span class="blockhead__span">"Ужгородської районної ради"</span></h1>
	
	


		<div  data-fls-iteminfo  class="item__info info-item">

			<div class="info-item__body">
				<div class="info-item__icon --icon-clock"></div>
		
				<div class="info-item__content">
					<div class="info-item__value">Графік роботи:</div>
					<div class="info-item__text">Пн-Пт з 8:00 до 18:00</div>
				</div>
			</div>
		
			<div class="info-item__body">
				<div class="info-item__icon --icon-telephone"></div>
		
				<div class="info-item__content">
					<div class="info-item__value">Колл-центр КНП:</div>
					<a href="tel:+380505554103" class="info-item__text">
						+38 (050) 555-41-03
					</a>
				</div>
			</div>
		</div>
		</div>
	
</section>
</div>

	
<!--=========================================================-->
		
		<!--<section class="row__items item-row">
			<div class="item-row__pictures">
				<img src="@img/home/eliki.png" alt="eliki" class="item-row__image">
			</div>
			<a href="https://eliky.in.ua/hospital/1159" target="_blanck" class="item__marquee" 
			data-fls-marquee data-fls-marquee-speed="300">
			<h3>У нас доступні е ліки!!!</h3>	
			</a>

		-
			
		
		</section>-->	

	<section class="item-row">
  <div class="item">
		
		
			<a href="https://eliky.in.ua/hospital/1159" target="_blank" class="item__text" 
			data-fls-marquee  data-fls-marquee-speed="300">
			<h3>💊 У нас доступні е ліки!!!</h3></a>
  </div>
		 </section>

<!--<section class="item-row">
	<div class="item-card">
 
	 
 
	  <a 
		 href="https://eliky.in.ua/hospital/1159" 
		 target="_blank" 
		 class="item-card__text"
		 
	  >
	 
	  💊 У нас доступні е ліки!!! &nbsp;&nbsp;&nbsp;
    💊 У нас доступні е ліки!!!
	  </a>
 
	</div>
 </section>

-->
		 <!----  services -->
		 
		

<section data-fls-serviceblock id="services" class="page__services services">
	<div class="services__container">
		<div class="services__title">
			<h2 class="blockhead__title "> Медичні послуги </h2>
		</div>

		<!--==============================-->
		<div class="services__items serviceblock__items">
<div class="item-services item-serviceblock">

	<h3 class="item-services__title">Консультації та лікування:</h3>
<p class="item-services__text"> Діагностика та лікування найпоширеніших хвороб,
	 травм,  отруєнь; ведення хронічних хворих.</p>
	<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
	</div>

		
		
		<div class="item-services item-serviceblock">

			<h3 class="item-services__title">Діагностика:</h3>
		<p class="item-services__text"> Спостереження за станом здоров’я пацієнтів із використанням фізикальних,  лабораторних та інструментальних досліджень відповідно до галузевих стандартів у сфері  охорони здоров’я.</p>
			<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
		</div>
		<div class="item-services item-serviceblock">

			<h3 class="item-services__title">Лабораторні дослідження:</h3>
		<p class="item-services__text"> Загальний аналіз крові з лейкоцитарною формулою, загальний  аналіз сечі, глюкоза крові, холестерин.</p>
			<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
		</div>
		<div class="item-services item-serviceblock">

			<h3 class="item-services__title">Профілактика та щеплення:</h3>
		<p class="item-services__text"> Вакцинація згідно з календарем щеплень, профілактичні огляди,  швидкі тести на вагітність, ВІЛ, вірусні гепатити, тропоніни.</p>
			<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
		</div>
		
		<div class="item-services item-serviceblock">

			<h3 class="item-services__title ">Документація:</h3>
		<p class="item-services__text"> Направлення до лікарів вторинної/третинної ланки (вузьких спеціалістів),  видача довідок, листків непрацездатності (лікарняних),
			 рецептів, зокрема за програмою  <a href="https://eliky.in.ua/hospital/1159" target="_blank" class="item-services__text_link">«Доступні ліки»</a>.</p>
			 <!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
		</div>
		
		<div class="item-services item-serviceblock">

			<h3 class="item-services__title">Спостереження::</h3>
		<p class="item-services__text"> Спостереження вагітних та дітей до 3-х років, паліативна допомога на  дому.</p>
		<!-- <a href="#" data-fls-button class="button button--dt">Детальніше </a>-->
		</div>
		
				</div>


				.

	</div>

			

</section>


	<!--==============================-->

<section class="page__scrining scrining">
	<div class="scrinig__container">
		<div class="services__title">
			<h2 class="blockhead__title "> Пройдіть скринінг 40+</h2>
			
		</div>
			<a href="https://screening.moz.gov.ua/"target="_blank" class="scrining__images">
				<img class="scrining__bg" src="@img/scrining/40.jpg" alt="">
			</a>
		</div>
	

</section>
	

<!--===============page__list===============-->


<section  class="page__list list">
<div class="list__container">
		<div class="services__title">
			<h2 class="blockhead__title "> Перелік</h2>
			<p class="blockhead__text">
				лабораторних та інструментальних діагностичних досліджень, що  здійснюються у межах медичних послуг з надання ПМД
			</p>
		</div>
<div class="list__items ">

	<ul class="list__links">
		<li class="list__link">Загальний аналіз крові з лейкоцитарною формулою</li>
		<li class="list__link">Загальний аналіз сечі</li>
		<li class="list__link">Глюкоза крові</li>
		<li class="list__link">Загальний холестерин</li>
		<li class="list__link">Вимірювання артеріального тиску</li>
		<li class="list__link">Електрокардіограма</li>
		<li class="list__link">Вимірювання ваги, зросту, окружності талії</li>
		<li class="list__link">Швидкі тести на вагітність, тропоніни, ВІЛ, вірусні гепатити, SARS-CoV-2</li>
	</ul>
	

	
</div>
</div>

</section>

<!--==============Structural===============-->

<section data-fls-serviceblock id="structural"class="page__structural structural">
	<div class="services__container">
		<div class="services__title">
			<h2 class="blockhead__title "> Структурні підрозділи</h2>
			
		</div>
	
	<div class="structural__items ">
		<div class="item-structural item-serviceblock">
		
			<h3 class="item-structural__title item-structural__title--big">Амбулаторія загальної практики – сімейної медицини </h3>
		<p class="item-structural__text item-structural__text--big"> смт.Великий Березний.</p>
			 <a href="#" data-fls-button class="button button--min button--dt button--big">Детальніше </a>
			</div>
		
			<div class="item-structural item-serviceblock">
		
				<h3 class="item-structural__title">Амбулаторія загальної практики – сімейної медицини  </h3>
			<p class="item-structural__text"> с.Забрідь.</p>
				<a href="#" data-fls-button class="button button--min button--dt">Детальніше </a>
				</div>
				<div class="item-structural item-serviceblock">
		
					<h3 class="item-structural__title">Амбулаторія загальної практики – сімейної медицини  </h3>
				<p class="item-structural__text"> с.Кострина.</p>
					 <a href="#" data-fls-button class="button button--min button--dt">Детальніше </a>
					</div>
					<div class="item-structural item-serviceblock">
		
						<h3 class="item-structural__title">Амбулаторія загальної практики – сімейної медицини </h3>
					<p class="item-structural__text"> с.Люта.</p>
						 <a href="#" data-fls-button class="button button--min button--dt">Детальніше </a>
						</div>
						<div class="item-structural item-serviceblock">
		
							<h3 class="item-structural__title">Амбулаторія загальної практики – сімейної медицини  </h3>
						<p class="item-structural__text"> с.Стужиця.</p>
							 <a href="#" data-fls-button class="button button--min button--dt">Детальніше </a>
							</div>
							<div class="item-structural item-serviceblock">
		
								<h3 class="item-structural__title">Амбулаторія загальної практики – сімейної медицини </h3>
							<p class="item-structural__text"> с.Ставне.</p>
								 <a href="#" data-fls-button class="button button--min button--dt">Детальніше </a>
								</div>
								<div class="item-structural item-serviceblock">
		
									<h3 class="item-structural__title">Амбулаторія загальної практики – сімейної медицини </h3>
								<p class="item-structural__text"> с.Волосянка.</p>
									 <a href="#" data-fls-button class="button button--min button--dt">Детальніше </a>
									</div>
				
				
						</div>
</section>

<!--==============Stats===============-->


<section id="stats" class="stats">
	<div class="page__stats stats">
		<div class="stats__container">
			<article data-fls-watcher class="stats__item item-stats">
				<h5 class="item-stats__title">Сумарний досвід лікарів понад</h5>
				<div class="item-stats__value"><span data-fls-digcounter>100</span>років</div>
			</article>
			<article data-fls-watcher class="stats__item item-stats">
				<h5 class="item-stats__title">Медичне обслуговування населення </h5>
				<div class="item-stats__value"><span data-fls-digcounter>809</span>кв.м</div>
			</article>
			<article data-fls-watcher class="stats__item item-stats">
				<h5 class="item-stats__title">Кількість декларацій</h5>
				<div class="item-stats__value"><span data-fls-digcounter>19679</span>+</div>
			</article>
			<article data-fls-watcher class="stats__item item-stats">
				<h5 class="item-stats__title">Амбулаторій сімейної медецини</h5>
				<div class="item-stats__value"><span data-fls-digcounter>7</span></div>
			</article>
		</div>
	</div>
</section>

<!--==============Contakts===============-->

<section id="contacts" class="contacts">
	
		<div class="services__container">
			<div class="services__title">
				<h2 class="blockhead__title "> Контактна інформація</h2>
				
			</div>
	 
 
	  <div class="contacts__items">
 
		 <div class="contact-card">
			<div class="contact-card__icon">📍</div>
			<div class="contact-card__info">
			  <h4 class="contact-card__title">Адреса</h4>
			  <div class="contact-card__text">
			  <p>смт. Великий Березний.</p>
			  <p> вул.   Б. Хмельницького, 4</p>
			</div>
		 </div>
		 </div>
		<!-- <div class="contact-card">
			<div class="contact-card__icon">📞</div>
			<div class="contact-card__info">
			  <h4>Телефон</h4>
			  <p>+38 (050) 555-41-03</p>
			</div>
		 </div>
 -->
		 <div class="contact-card">
			<div class="contact-card__icon">✉️</div>
			<div class="contact-card__info">
			  <h4 class="contact-card__title">Email</h4>
			</div>
			<div class="contact-card__text">
				<a href="https://mail.google.com/mail/?view=cm&fs=1&to=pmsdvb@ukr.net" target="_blank">
					pmsdvb@ukr.net
				 </a>
			</div>
		 </div>
		<!-- <div class="contact-card">
			<div class="contact-card__icon">✉️</div>
			<div class="contact-card__info">
			  <h4>Графік роботи</h4>
			  <p>Пн-Пт з 8:00 до 18:00</p>
			</div>
		 </div>
	  </div>
 --></div>
 <div class="footer__map">
		
	<iframe class="footer__img"
	src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20987.51082486803!2d22.43452798677367!3d48.88797303408782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473969dd76e6453d%3A0x42ff5c8bf95c91c8!2z0JLQtdC70LjQutC-0LHQtdGA0LXQt9C90Y_QvdGB0YzQutC40Lkg0YDQsNC50L7QvdC90LjQuSDQsdGD0LTQuNC90L7QuiDQutGD0LvRjNGC0YPRgNC4!5e0!3m2!1suk!2sro!4v1776711422323!5m2!1suk!2sro" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
		 width="900" height="400" style="border:2px dotted rgb(68, 0, 255);" allowfullscreen="" loading="lazy"
		 referrerpolicy="no-referrer-when-downgrade" alt="map"></iframe>

</div>
			
		</div>
	 
 </section>
</main>







  